#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.movie-card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-image{
  max-width: 70vw;
  z-index: -10;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

/* Responsive: 1 column on small screens */
@media (max-width: 768px) {
  .movies-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .movies-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.movie-card {
  transition: transform 0.3s;
}
.movie-card:hover {
  transform: scale(1.15);
}
