#root {
  margin: 0 auto;
  text-align: center;
}

.movie-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-image {
  max-width: 70vw;
  z-index: -10;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

/* Responsive: 1 column on small screens */
@media (max-width: 768px) {
  .movies-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .movies-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.movie-card {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(12px);
  border-radius: 14px;

  border: 1px solid rgba(255, 255, 255, 0.12);

  transition: transform 0.25s ease, box-shadow 0.25s ease, background 0.25s ease,
    border 0.25s ease;

  padding: 10px;
}

.movie-card:hover {
  transform: scale(1.08);

  background: rgba(255, 255, 255, 0.1);

  border: 1px solid rgba(255, 0, 0, 0.35);

  box-shadow: 0 0 18px rgba(255, 0, 0, 0.45), 0 12px 25px rgba(0, 0, 0, 0.35);
}
.no-pelis-alert {
  color: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
  border-radius: 12px;

  /* Glassmorphism */
  backdrop-filter: blur(10px);
  background: rgba(255, 0, 0, 0.1);
  border: 1px solid rgba(255, 0, 0, 0.4);

  /* Glow rojo */
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.4);
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.btn-danger {
  color: #fff !important;
}
